[Reference](https://krishna-potharaju.medium.com/python-project-for-data-engineer-d6b38a98c552)

# Implementing web scraping

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"
html_data = requests.get(url).text

In [3]:
soup = BeautifulSoup(html_data,"html.parser")

In [12]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])
data

Empty DataFrame
Columns: [Name, Market Cap (US$ Billion)]
Index: []

In [13]:
for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if col:
        name = col[1].text
        market_cap = float(col[2].text)

data = data.append({"Name": name, "Market Cap (US$ Billion)": market_cap},ignore_index = True)

In [14]:
data

               Name  Market Cap (US$ Billion)
0   Deutsche Bank\n                     15.77

# Extracting Data using API

In [15]:
import pandas as pd
import requests

In [16]:
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=ENTER_YOUR_KEY_HERE"
reponse = requests.get(url)

df = pd.DataFrame(response.json())
df.to_csv('file_name.csv')